@model MutualFundsComparison.Models.HomeModel
@{
    ViewBag.Title = "Home";
}




@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" style="cursor:pointer;" />
    <br />
    <p>Select dates</p>
    
    <p>
        <div class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    @Html.TextBoxFor(m => m.DateFrom, new { @class = "date-picker form-control", placeholder = "date from", @Value = Model.DateFrom.HasValue ? Model.DateFrom.Value.ToString("yyyy-MM-dd") : "" })
                    @Html.ValidationMessageFor(x => x.DateFrom)
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    @Html.TextBoxFor(m => m.DateTo, new { @class = "date-picker form-control", placeholder = "date to", @Value = Model.DateTo.HasValue ? Model.DateTo.Value.ToString("yyyy-MM-dd") : "" })
                    @Html.ValidationMessageFor(x => x.DateTo)
                </div>
            </div>

            @if (Model.DataFrame != null)
            {
                <button type="button" class="btn btn-success" onclick="filterFrames()">Filter</button>
            }
        </div>
    </p>
    <input type="submit" style="cursor:pointer;" class="btn btn-success" id="upload" value="Upload" />
    
    <div id="frame-content">
        @if (Model.DataFrame != null)
        {
            Html.RenderPartial("Frames", Model);
        }
    </div>
}


<script type="text/javascript">
    var json = @(Html.Raw(Json.Encode(Model.DataFrame)));
    var data = this.parseJson(json);
    renderChart(data);


    function filterFrames() {
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/Home/Filter")',
            data: {
                dateFrom: $("#DateFrom").val(),
                dateTo: $("#DateTo").val()
            },
            success: function (result) {
                $("#frame-content").html(result);
            }
        });
    }
</script>